body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contacts {
  display: flex;
  border: 1px solid red;
  width: 175px;
  flex-direction: row;
}
.contact-card {
  display: flex;
  flex-direction: column;
  width: 175px;
  border: 1px solid blue;
  border-radius: 10px;
  box-shadow: 4px solid grey;
}
.info-group {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.card{
  border: 1px solid blue;
  width: 250px;
  margin-left: 20px;
}